@import '@/styles/variables';
.seovalues {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 40px auto 0;

    .seovaluesItem {
       display: flex;
       align-items: center;
       justify-content: center;
       flex-direction: column;
       color: $black;
       text-align: center;

       h3 {
        font-size: 35px;
        line-height: 66px;
       }

       p {
        font-size: 24px;
        line-height: 31px;
       }
    }

    .iconWrap {
        width: 90px;
        height: 90px;
        display: inline-block;

        img {
            height: 100% !important;
            display: block;
            object-fit: contain;
        }
    }
}

@media (max-width: 767px) {
    .seovalues {
        flex-direction: column;
        width: 100%;
        margin: 20px auto 0;
    
        .seovaluesItem {
           flex-direction: column;

           &:not(:last-child) {
            margin-bottom: 24px;
           }
    
           h3 {
            font-size: 24px;
            line-height: 40px;
           }
    
           p {
            font-size: 16px;
            line-height: 26px;
           }
        }
    
        .iconWrap {
            width: 60px;
            height: 60px;
        }
    }
}