.btn {
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    padding: 12px 24px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    display: inline-block;

    &.btn-white {
        background-color: $white;
        color: $black;
        transition: 0.3s;
        &:hover{
            background: $primary-color;
        }
    }
    
    &.btn-blue {
        background-color: $primary-color;
        color: $white;
        transition: 0.3s;
        &:hover{
            background: $black;
        }
    }

    &.btn-black {
        background-color: $black;
        color: $white;
        transition: 0.3s;
        &:hover{
            opacity: 0.8;
        }
    }
}